

body {
    color: #f2f2f2;
    /* Utilizamos background-image para establecer la imagen de fondo */
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    color: rgb(138, 108, 138);
    /* Cambia el color del enlace no visitado */
    text-decoration: none;
    /* Elimina el subrayado predeterminado */
}

/* Estilos para el enlace visitado */
a:visited {
    color: rgb(138, 108, 138);
    /* Cambia el color del enlace visitado */
}

.menu {
    display: flex;
    flex-direction: column;
    /* Hace que los elementos estén uno debajo del otro */
    align-items: center;
    /* Centra horizontalmente los elementos */
    justify-content: center;
    /* Centra verticalmente los elementos */
    height: 100vh;
}

/**/
